@import url(owl.carousel.css);
@import url(owl.theme.default.css);
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1200px;
  margin: auto; }

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header {
  background-color: #181818;
  padding: 24px 0; }

nav ul {
  display: flex;
  list-style: none; }
  nav ul li {
    margin-left: 32px; }
    nav ul li:first-of-type {
      margin-right: 24px; }
    nav ul li:first-of-type a {
      font-size: 13px; }
      @media screen and (max-width: 1000px) {
        nav ul li:first-of-type a {
          font-size: 16px; } }
    nav ul li:last-of-type a {
      background: #FFFFFF;
      border-radius: 14px;
      padding: 11px 20px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.4px;
      color: #000000; }
      @media screen and (max-width: 1000px) {
        nav ul li:last-of-type a {
          border-radius: 0; } }
    nav ul li a {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #FFFFFF;
      text-decoration: none; }

.head_of_first {
  background-image: url("../img/aperture_bg.svg");
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 71px; }

.first_article {
  max-width: 580px;
  box-sizing: border-box; }
  .first_article h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #C0C0C0; }
  .first_article h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF; }
  .first_article p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 18px; }

.fixed_information {
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 40px;
  right: 40px; }
  .fixed_information li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 16px; }
    .fixed_information li:before {
      content: "";
      display: inline-block;
      background-image: url("../img/clock.svg");
      width: 16px;
      height: 16px;
      margin-right: 6px;
      position: relative;
      top: 6px; }
    .fixed_information li:nth-child(2):before {
      background-image: url("../img/round.svg"); }
    .fixed_information li:nth-child(3):before {
      background-image: url("../img/iso.svg");
      width: 32px; }

.container_sec {
  background-color: black;
  box-sizing: border-box;
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center; }
  .container_sec .article_p3 {
    max-width: 1200px;
    margin: auto; }
  .container_sec h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 100px; }
  .container_sec p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-left: 100px; }
  .container_sec .p3_img {
    max-width: 1168px;
    padding: 66px 0;
    text-align: center; }
    .container_sec .p3_img a {
      width: 128px;
      display: block; }
    .container_sec .p3_img a img {
      max-width: 100%; }

.article_p4 {
  max-width: 700px;
  margin: auto; }
  .article_p4 h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF; }
  .article_p4 p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 15px;
    padding-bottom: 30px; }
  .article_p4 a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    position: relative;
    padding: 9px 15px 13px 42px;
    margin-left: 320px;
    text-decoration: none; }
    .article_p4 a:before {
      content: "";
      background-color: black;
      height: 32px;
      width: 32px;
      position: absolute;
      display: inline-block;
      top: 5px;
      right: 118px;
      bottom: 5px;
      margin-right: 6px;
      border-radius: 13px; }

.portfolio {
  background-image: url("../img/port.svg");
  min-height: 600px;
  background-size: cover;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex; }
  .portfolio .sub_container {
    max-width: 298px;
    margin-right: 62px; }
    .portfolio .sub_container h3 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .portfolio .sub_container p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0; }

.owl-carousel .p3_img a {
  max-width: 128px;
  margin: auto; }

.owl-dots {
  position: relative;
  top: 130px; }
  .owl-dots .owl-dot span {
    background-color: peru;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 30px; }
  .owl-dots .owl-dot.active span {
    background-color: lightslategrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  display: flex;
  align-items: center; }

@media screen and (max-width: 1000px) {
  #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

#cssmenu #head-mobile {
  display: none; }

#cssmenu > ul > li > a {
  padding: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400; }

#cssmenu li:hover > ul {
  left: auto; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

@media screen and (max-width: 1000) {
  #cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400; } }

@media screen and (max-width: 1000px) {
  nav {
    width: 100%; }

  #cssmenu {
    width: 40%; }

  #cssmenu ul {
    width: 100%;
    display: none; }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444; }

  #cssmenu ul li:hover {
    background: #363636; }

  #cssmenu ul ul li, #cssmenu li:hover > ul > li {
    height: auto; }

  #cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0; }

  #cssmenu > ul > li {
    float: none; }

  #cssmenu ul ul li a {
    padding-left: 25px; }

  #cssmenu ul ul li {
    background: #333 !important; }

  #cssmenu ul ul li:hover {
    background: #363636 !important; }

  #cssmenu ul ul ul li a {
    padding-left: 35px; }

  #cssmenu ul ul li a {
    color: #ddd;
    background: none; }

  #cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left; }

  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700; }

  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994; }

  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: ''; }

  .button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: ''; }

  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer; }

  #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none; } }

/*# sourceMappingURL=style_preproc.css.map */
